.slick-slide img{
    overflow: hidden;
    max-height: 260px;
}
.slick-initialized .slick-slide{
    padding:0 0px;
}
.related-p span{
    font-weight:bold;
    font-size: 12px;;
}
.slick-prev:before, .slick-next:before{
    display:none;
}
.slick-dots li{
    width:10px!important;
}
.imgcss{
    margin: 10px !important;
}

.slick-list{
    margin-right: -1rem !important;
}